---
import Layout from "../layouts/Layout.astro";
import { Menu } from "../components/Menu";
import Logo from "../components/Logo.astro";
import About from "../views/About.astro";
import TechStack from "../views/TechStack.astro";
import Contact from "../views/Contact.astro";
---

<Layout title="Kaboom">
  <main class="relative w-full h-screen overflow-hidden">
    <div class="absolute top-4 right-4 z-50">
      <Menu client:load />
    </div>

    <div class="absolute inset-0 flex items-center justify-center">
      <Logo />
    </div>

    <About />
    <TechStack />
    <Contact />
  </main>
</Layout>
