---
import { Icon } from "astro-icon/components";
const { classes } = Astro.props;
---

<a
  href="#contact"
  class:list={[
    "text-yellow-600 hover:text-orange-200 flex gap-2 items-center",
    classes,
  ]}
>
  Work with Me
  <Icon name="drarrow" />
</a>
